body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.productImg{
	border-radius: 5px;
	border: 1px solid #ddd;
	padding: 3px;
}

button {
padding: 15px 30px 15px 30px;
border-radius: 15px;
margin: 5px;
border: 1px solid #eee; 
cursor: pointer;
width: 150px;
font-size: 14px;
color: #000;
}

button:hover{
	color: #fff;
	background-color: #eacb25;
	box-shadow: 3px 3px 1px #000;
	border: 1px solid #000;
}
.questions{
	width: 70%;
	margin: 0 auto;
	position: relative;
}

.legal{
	font-size: 10px;
}

.feedback{
	position: absolute;
	display: block;
	margin: 0 auto;
	top: 100px;
	background: #bada55;
}

